services:
  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_DB=fitness_app
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"